body, html {
    height: 100vh;
    margin: 0;
    
}

body {
    font-family: 'Montserrat';

}
 section {
    height: calc(100vh - 8em);
    padding: 4em;
    align-items: center;

    h1 {
        font-size : 6em;
        text-transform: uppercase;
        line-height : .9em;
    }

    &:nth-of-type(1) {
        background : #2b3033;
        color: #4e5356;
        
        
    }

    &:nth-of-type(2), &:nth-of-type(3){
        background : #dde3e6;
        height: calc(75vh - 8em);
        color: #4e5356;
        display: grid;
        grid-template-columns: 50% 50%;

        h3{
            font-size: 3em;
            text-transform: uppercase;
            margin: 0;
        }

        img{
            margin: o auto;
            display: block;
            width: 250px;

        }

    }
    &:nth-of-type(3) {
        background-color: white;
        grid-template-columns: repeat(3, 33.3%);

        p{
            width: 50%;
        }

        
    }

 }