body, html {
  height: 100vh;
  margin: 0;
}

body {
  font-family: 'Montserrat';
}

section {
  height: calc(100vh - 8em);
  padding: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h1 {
  font-size: 6em;
  text-transform: uppercase;
  line-height: .9em;
}

section:nth-of-type(1) {
  background: #2b3033;
  color: #4e5356;
}

section:nth-of-type(2), section:nth-of-type(3) {
  background: #dde3e6;
  height: calc(75vh - 8em);
  color: #4e5356;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

section:nth-of-type(2) h3, section:nth-of-type(3) h3 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
}

section:nth-of-type(2) img, section:nth-of-type(3) img {
  margin: o auto;
  display: block;
  width: 250px;
}

section:nth-of-type(3) {
  background-color: white;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
}

section:nth-of-type(3) p {
  width: 50%;
}
/*# sourceMappingURL=main.css.map */